@import "../../styles/variables";
.movie {
  min-width: 20rem;
  min-height: 30rem;
  padding-bottom: 3rem;

  &__container {
    display: inline-block;
    width: 180px;
    height: 17rem;
    margin-right: 10px;
    margin-top: 4rem;
    font-size: 20px;
    cursor: pointer;
    transform-origin: center left;
  }
  &__container:hover {
    opacity: 0.6;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__card-body {
    background-color: white;
    padding-top: 1rem;
    padding: 10px;
    max-width: 100%;
    height: 4rem;
    opacity: 0.6;

    p {
      width: 100%;
      color: var(--grey-dark-1);
      font-size: 1rem;
      font-weight: bolder;
    }
  }
}

.button-container {
  padding: 2rem;
  display: flex;
  justify-content: center;

  &__previous,
  &__next {
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
  }

  &__previous:hover,
  &__next:hover {
    color: #000000;
    background-color: #ffffff;
  }
}
